body {
    font-family: monospace;
    background-image: url(../../invd-website/Images/background.png);
    background-size: cover;
}

a:hover {
    background-color: #CA0F7B;
}


div {
    background-color: #9D1061;
}

div a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 15px;
    display: inline-block;
    margin: auto;
}

h1 {
    color: #9D1061;
    text-align: center;
}

p {
    font-family: monospace;
    font-size: 20px;
    color: #9D1061;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #9D1061;
    text-align: center;
    float: left;
}

.img1 {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

.img2 {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 70%;
}


footer a {
    color: white;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9D1061;
    min-width: 570px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #CA0F7B
}

.dropdown:hover .dropdown-content {
    display: block;
}

article .pos-left {
    float: left;
    margin: 0 15px 0 0;
    height: 130px;
    width: 27%;
    border: 2px solid #CA0F7B;
}

article .pos-right {
    float: right;
    margin: 0 15px 0 0;
    height: 130px;
    width: 27%;
    border: 2px solid #CA0F7B;
}

/*article .pos-left {
	     float: left;
	     margin: 0 15px 0 0;
	     height: 130px;
	     width: 27%;
	     border: 2px solid #CA0F7B;
	 */

article {
    font-family: monospace;
    font-size: 20px;
    color: #9D1061;
    width: 75%;
    height: auto;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    display: block
}

section {
    float: left;
    height: 130px;
    width: 25%
}

section a {
    color: white;
    width: 100%;
    float: right;
    background-color: #9D1061;
    text-align: center;
    text-decoration: none;

}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 4px solid #9D1061;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    float: right;
}

aside {
    float: right;
    margin: 0 1.5%;
    width: 10%;
}

video {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

audio {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

form {
    display: inline-block;
    float: right;
    width: 30%

}
@media print {
    nav ol li {font-size:.05em;font-weight:bold;}
    div#left-col {height:20em;}
    main {height:20em;}
    aside {height:20em;}
    footer {height:20em;}
}
