	 a:hover {
	     background-color: #CA0F7B;
	 }


	 div {
	     background-color: #9D1061;
	 }

	 div a {
	     text-decoration: none;
	     color: white;
	     font-size: 25px;
	     padding: 15px;
	     display: inline-block;
	     margin: auto;
	 }

	 h1 {
	     color: #9D1061;
	     text-align: center;
	 }

	 p {
	     font-family: monospace;
	     font-size: 20px;
	     color: #9D1061;
	 }

	 footer {
	     left: 0;
	     bottom: 0;
	     height: 50px;
	     padding: 20px;
	     width: 100%;
	     background-color: #9D1061;
	     text-align: center;
	 }

	 .img1 {
	     display: block;
	     margin: 0 auto;
	     height: 300px;
	     width: 100%;
	 }

	 .img2 {
	     display: block;
	     margin: 0 auto;
	     height: 250px;
	     width: 60%;
	     background-color: white;
	 }

	 footer a {
	     color: white;

	 }

	 .dropdown {
	     position: relative;
	     display: inline-block;
	 }

	 .dropdown-content {
	     display: none;
	     position: absolute;
	     background-color: #9D1061;
	     min-width: 570px;
	 }

	 .dropdown-content a {
	     color: white;
	     padding: 12px 16px;
	     text-decoration: none;
	     display: block;
	 }

	 .dropdown-content a:hover {
	     background-color: #CA0F7B
	 }

	 .dropdown:hover .dropdown-content {
	     display: block;
	 }

	 p .pos-left {
	     float: left;
	     margin: 0 15px 0 0;
	     height: 130px;
	     width: 27%;
	     border: 2px solid #CA0F7B;
	 }

	 p .pos-right {
	     float: right;
	     margin: 0 15px 0 0;
	     height: 130px;
	     width: 27%;
	     border: 2px solid #CA0F7B;
	 }

	   p .pos-left  {
	     float: left;
	     margin: 0 15px 0 0;
	     height: 130px;
	     width: 27%;
	     border: 2px solid #CA0F7B;
	 }

	 p.wrap {
	     width: 85%;
	     height: auto;
	     border: 3px solid #CA0F7B;
	     word-wrap: break-word;
	     align-items: center;
	     padding: auto;
	     margin: auto;
	     text-align: center;
	 }
