	 a:hover {
            background-color: #CA0F7B;
        }


        div {
            background-color: #9D1061;
        }

        div a {
            text-decoration: none;
            color: white;
            font-size: 25px;
            padding: 15px;
            display: inline-block;
            margin: auto;
        }

        h1 {
            color: #9D1061;
            text-align: center;
        }

        p {
            font-family: monospace;
            font-size: 20px;
            color: #9D1061;
        }

        footer {
            left: 0;
            bottom: 0;
            height: 15px;
            padding: 20px;
            width: 100%;
            background-color: #9D1061;
            text-align: center;
        }
        .img {
            height: 300px;
            width: 100%;
        }

        footer a {
            color: white;

        }