	 a:hover {
	     background-color: #CA0F7B;
	 }


	 div {
	     background-color: #9D1061;
	 }

	 div a {
	     text-decoration: none;
	     color: white;
	     font-size: 25px;
	     padding: 15px;
	     display: inline-block;
	     margin: auto;
	 }

	 h1 {
	     color: #9D1061;
	     text-align: center;
	 }

	 p {
	     font-family: monospace;
	     font-size: 20px;
	     color: #9D1061;
	 }

	 footer {
	     left: 0;
	     bottom: 0;
	     height: 15px;
	     padding: 20px;
	     width: 100%;
	     background-color: #9D1061;
	     text-align: center;
	 }

	 .img1 {
	     display: block;
	     margin: 0 auto;
	     height: 300px;
	     width: 100%;
	 }

	 footer a {
	     color: white;

	 }


	 .dropbtn {
	     background-color: #9D1061;
	     color: white;
	     font-size: 25px;
	     padding: 15px;
	     border: none;
	     cursor: pointer;
	 }

	 .dropdown {
	     position: relative;
	     display: inline-block;
	 }

	 .dropdown-content {
	     display: none;
	     position: absolute;
	     background-color: #9D1061;
	     min-width: 144px;
	     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	     z-index: 1;
	 }

	 .dropdown-content a {
	     color: white;
	     padding: 12px 16px;
	     text-decoration: none;
	     display: block;
	 }

	 .dropdown-content a:hover {
	     background-color: #CA0F7B
	 }

	 .dropdown:hover .dropdown-content {
	     display: block;
	 }

	 .dropdown:hover .dropbtn {
	     background-color: #CA0F7B;
	 }
